.admin-block {
  &__netlify {
    border: 2px solid chartreuse;
    border-radius: 0.75rem;
  }
}

.admin {
  &-link,
  &-box {
    border: 2px solid white;
    border-radius: 0.75rem;
    margin: 1rem;
    padding: $gap;
  }
  &-box .column {
    min-height: 7.5rem;
  }

  &-link {
    transition: $speed $easing;
    &:focus,
    &:hover {
      background-color: darken($color: $primary, $amount: 35);
      border: 2px solid $primary;
    }

    &__icon {
      display: flex;
      justify-content: center;
    }
  }
}
