.resident-bio {
  margin-top: 8.25rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  min-height: calc(100vh - 10.5rem);

  // background-image: url(https://source.unsplash.com/1920x1080/weekly?stars);
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;

  p.title {
    padding: 1rem 0 0.5rem;
  }

  .resident-social-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // Space out links on mobile only
    @include mobile {
      justify-content: space-between;
      padding: 0;
    }
    span {
      color: white;
      transition: 0.25s $easing;
      &:hover {
        color: $primary;
      }
    }
  }

  .bio-mixes {
    p:first-child() {
      margin-bottom: 1rem;
    }
    padding-bottom: 2rem;
  }
}

.sticky-bio {
  @include desktop {
    position: -webkit-sticky;
    position: sticky;
    top: 8.5rem;
    // border-right: 0.125rem solid white;
  }
}

.sticky-social-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0;

  span {
    color: white;
    transition: 0.25s $easing;
    &:hover {
      color: $primary;
    }
  }
}

//==================================
// <BioHorizItem />
//==================================
.bio-single-mix {
  @include desktop {
    margin-bottom: 1rem;
  }
}

.bio-mix-container {
  margin: 0.25rem;
  border: 0.25rem solid white;
  background-color: black;
  transition: 0.25s $easing;

  @include tablet {
    min-height: 13rem;
  }

  .play-btn-diffuser {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.25s;

    span {
      color: transparent;
      transition: ease-in-out 0.25s;
    }
  }

  &:hover {
    box-shadow: 10px 8px 5px black;
    background-color: darken($color: $primary, $amount: 30);

    .play-btn-diffuser {
      display: flex;
      justify-content: center;
      background-color: rgba($color: black, $alpha: 0.75);

      span {
        color: white;
        &:hover {
          color: darken($color: $primary, $amount: 10);
        }
        &:active {
          color: $primary;
        }
      }
    }
  }

  .item-content {
    padding: 0.75rem;

    .title {
      margin-bottom: 0.5rem;

      @include touch {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
