.sticky-bio {
  @include tablet {
    position: sticky;
    position: -webkit-sticky;
    top: 7.5rem;
    overflow-y: auto;
    max-height: calc(100vh - 10.5rem);
  }
}

.sticky-social-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  span {
    flex: 1;
  }
}
