.sticky-bio {
  @include tablet {
    position: sticky;
    position: -webkit-sticky;
    top: 7.5rem;
    overflow-y: auto;
    max-height: calc(100vh - 10.5rem);
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
