//==================================
// <TopNav />
//==================================
.radio-and-schedule-bar {
  display: flex;
  flex-direction: column;
  left: 0;
  max-height: 7.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
  background-color: rgba($color: black, $alpha: 0.75);
  &.is-live {
    background: linear-gradient(to bottom, #000 80%, darken($primary, 1));
    background-size: 105% 105%;

    // 60s / 128bpm = 1 pulse every 0.46875s
    animation: bg-top-nav-pulse 0.46875s ease-in-out infinite;
    -webkit-animation: bg-top-nav-pulse 0.46875s ease-in-out infinite;
  }

  .container {
    @include touch {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.column.mix-data,
.column.upcoming-show {
  opacity: 0;
  overflow-x: hidden;
  white-space: nowrap;
  transition: 0.5s $easing;
  &.is-loaded {
    opacity: 1;
  }
}

.upcoming-show p {
  transition: 0.5s ease;
  &.active-marquee {
    /* Starting position */
    -moz-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    /* Apply animation to this element */
    -moz-animation: upcoming-show-marquee 20s linear infinite;
    -webkit-animation: upcoming-show-marquee 20s linear infinite;
    animation: upcoming-show-marquee 20s linear infinite;

    &:focus,
    &:hover,
    & a:hover,
    & a:focus {
      animation-play-state: paused;
    }
  }
}

//==================================
// <RadioBar />
//==================================
.radio-bar {
  flex: 8;
  min-height: 4rem;

  #now-playing {
    display: flex;
    flex-direction: row;
    transition: 0.5s $easing;
  }

  #now-playing-img {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
    }
  }

  #now-playing-details {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    p {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .columns {
    margin-top: 0rem;
    max-height: 4rem;
  }
}

.live-light {
  animation: live-light-pulse 2s infinite;
}

.listen-live {
  animation: border-pulse 3s infinite;
}

@keyframes bg-top-nav-pulse {
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  75% {
    background-position: 50% 0%;
  }
}

@keyframes border-pulse {
  0% {
    border-color: white;
  }
  50% {
    border-color: $link;
  }
  100% {
    border-color: white;
  }
}

@keyframes border-size-bounce {
  0% {
    border-width: 0.125rem;
  }
  33% {
    border-width: 0.175rem;
  }
  50% {
    border-width: 0.25rem;
  }
  66% {
    border-width: 0.175rem;
  }
  100% {
    border-width: 0.125rem;
  }
}

@keyframes live-light-pulse {
  0% {
    color: white;
  }
  50% {
    color: $link;
  }
  100% {
    color: white;
  }
}

//==================================
// <ReactPlayer />
//==================================
.cloud-player {
  max-height: 3.5rem;
}

//==================================
// <ScheduleBar />
//==================================
.schedule-bar.container {
  flex: 7;
  color: white;
  border-bottom: 0.125rem solid white;
  height: 2.5rem;
  transition: 1s $easing;
  &.is-open {
    // 2.5rem height + .125rem bottom border
    max-height: 2.625rem;
  }

  .up-next {
    margin: 0;
    height: 2.5rem;
  }
  .dropdown {
    margin-top: 1px;
    min-height: 3.5rem;
    max-height: calc(100vh - 15rem);
    overflow-y: scroll;
    background-color: rgba($color: black, $alpha: 0.95);
    border: 2px solid white;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}

#for-text-measuring {
  background-color: blueviolet;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -10;
  top: -15rem;
}

//==================================
// <BottomNav />
//==================================
.navbar {
  border-top: 0.125rem solid white;
  background-color: rgba($color: black, $alpha: 0.75);

  a,
  span {
    color: white;
    transition: 0.25s $easing;
    &:hover {
      color: $primary;
    }
  }

  // Uncomment when done converting to .full-height-page
  // Make navbar menu on desktop black; mobile darkPurple
  .navbar-menu {
    background-color: black;
    &.is-active {
      @include touch {
        background-color: black;
      }
    }
  }
}

.navbar-burger span {
  color: transparent;
  border: 0.125rem solid $primary;
}

.navbar-end.is-hidden-desktop {
  display: flex;
  flex-direction: row;
  a {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  span {
    color: $primary;
    transition: 0.25s $easing;
    &:hover {
      color: white;
    }
  }
}

//==================
// UpcomingShow Animation
//==================
/* Move it (define the animation) */
@keyframes upcoming-show-marquee {
  0% {
    -moz-transform: translateX(150%); /* Firefox bug fix */
    -webkit-transform: translateX(150%); /* Firefox bug fix */
    transform: translateX(150%);
  }
  100% {
    -moz-transform: translateX(-150%); /* Firefox bug fix */
    -webkit-transform: translateX(-150%); /* Firefox bug fix */
    transform: translateX(-150%);
  }
}
@-moz-keyframes upcoming-show-marquee {
  0% {
    -moz-transform: translateX(150%);
  }
  100% {
    -moz-transform: translateX(-150%);
  }
}
@-webkit-keyframes upcoming-show-marquee {
  0% {
    -webkit-transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(-150%);
  }
}
