//==================================
// <TopNav />
//==================================
.radio-and-schedule-bar {
  display: flex;
  flex-direction: column;
  left: 0;
  max-height: 7.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
  background-color: rgba($color: black, $alpha: 0.5);
  .container {
    @include touch {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
//==================================
// <RadioBar />
//==================================
.radio-bar {
  flex: 2;
  padding-top: 0.5rem;
  min-height: 5rem;
  margin-bottom: 0;
  @include mobile {
    padding-top: 1rem;
  }

  #radioShowDetails {
    display: flex;
    flex-direction: column;

    #radioShowTime {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
    }
    #radioShowName {
      flex: 1;
      white-space: nowrap;
    }
  }
}

// .now-playing figure {
//   border-radius: 0.75rem;
//   border: 0.125rem solid transparent;
//   img {
//     border-radius: 0.75rem;
//   }
//   .radio-play-btn {
//     color: transparent;
//   }
//   transition: 0.25s ease;

//   &:hover,
//   &:active {
//     border: 0.125rem solid $primary;
//     border-radius: 0.75rem;
//     img {
//       border-radius: 0.75rem;
//     }
//     .radio-play-btn {
//       color: $primary;
//     }
//   }
// }

.icon-color {
  color: white;
  transition: 0.25s ease-in-out;
  &:hover {
    color: $primary;
  }
}

#live-light {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: live-light-pulse 2s infinite;
}

@keyframes live-light-pulse {
  0% {
    background-color: white;
  }
  20% {
    background-color: $primary;
  }
  80% {
    background-color: $primary;
  }
  100% {
    background-color: white;
  }
}

//==================================
// <ReactPlayer />
//==================================
.cloud-player {
  max-height: 3.5rem;
}

//==================================
// <ScheduleBar />
//==================================
.schedule-bar {
  flex: 1;
  color: white;
  border-bottom: 0.125rem solid white;
  min-height: 2.5rem;
  // background-color: rgba($color: $primary, $alpha: 0.25);
  padding-top: 0.25rem;

  &.is-open {
    height: auto;
  }
  .up-next {
    margin-bottom: 0.375rem;
  }
}

.upcoming {
  white-space: nowrap;
}
//==================================
// <ScheduleModal />
//==================================
#scroll-instructions {
  // width: 100%;
  background-color: black;
  p {
    font-variant: small-caps;
    // padding: 0rem;
  }
}

.modal-card {
  margin: 1.5rem 0 4rem;
  width: 90vw;
  max-height: calc(100vh - 7rem);
  background-color: darken($color: $primary, $amount: 40);
  border: 0.125rem solid white;

  header {
    padding: 0;
    margin: 0;
  }

  .modal-card-head {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .schedule-header {
      background-color: black;
      width: 100%;
      padding: 0.25rem 0.25rem 0;
    }
  }

  section {
    margin: 0;
    padding: 0;
  }
  .modal-card-body {
  }
}

//==================================
// <ScheduleDatePicker />
//==================================
.date-picker {
  overflow-x: auto;
}

.day-of-week {
  padding: 0.5rem;
  background-color: darken($color: $primary, $amount: 20);

  border-left: 0.125rem solid darken($color: $primary, $amount: 25);
  border-right: 0.125rem solid darken($color: $primary, $amount: 25);

  // In-between borders
  // &:not(:last-child) {
  //   border-right: 0.25rem solid darken($color: $primary, $amount: 30);
  // }

  @include desktop {
    &:first-child {
      border-left: 0.25rem solid $primary;
    }
    &:last-child {
      border-right: 0.25rem solid $primary;
    }
  }

  &:hover {
    background-color: darken($color: $primary, $amount: 30);
  }
  &.is-active {
    background-color: $primary;
    border-bottom: 0.25rem solid $primary;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
  }
}
//==================================
// <ScheduleShowEntry />
//==================================
.show-entries {
  // background-color: darken($color: $primary, $amount: 40);
  background-color: rgba($color: black, $alpha: 0.95);
  border-left: 0.125rem solid white;
  border-right: 0.125rem solid white;
  border-bottom: 0.125rem solid white;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  // // Make list of show entries a scrollable list of dynamic height if window height < 720px
  // @include short-screen {
  //   max-height: calc(100vh - 10.5rem - 15rem);
  //   overflow-y: auto;
  // }

  .column {
    &.today-date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: auto 12px;
      border-bottom: 0.125rem solid white;
    }

    &.single-show-entry {
      transition: 0.25s ease-in-out;

      &:not(:last-child) {
        border-bottom: 0.125rem solid white;
      }

      &:hover {
        background-color: darken($color: $primary, $amount: 30);
        &:last-child {
          border-bottom-left-radius: 0.75rem;
          border-bottom-right-radius: 0.75rem;
        }
      }
    }
  }
}

//==================================
// <BottomNav />
//==================================
.navbar {
  border-top: 0.125rem solid white;
  background-color: rgba($color: black, $alpha: 0.5);
  a,
  span {
    color: white;
    transition: 0.25s ease;
    &:hover {
      color: $primary;
    }
  }

  // // Make navbar menu on desktop black; mobile darkPurple
  // .navbar-menu {
  //   background-color: black;
  //   &.is-active {
  //     @include touch {
  //       background-color: black;
  //     }
  //   }
  // }
}

.navbar-burger span {
  color: transparent;
  border: 0.125rem solid $primary;
}

.navbar-end.is-hidden-desktop {
  display: flex;
  flex-direction: row;
  a {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  a,
  span {
    color: $primary;
    transition: 0.25s ease;
    &:hover {
      color: white;
    }
  }
}
