//==================================
// <TopNav />
//==================================
.radio-and-schedule-bar {
  display: flex;
  flex-direction: column;
  left: 0;
  max-height: 7.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
  background-color: black;
  &.is-live {
    background: linear-gradient(to bottom, #000 80%, darken($primary, 1));
    background-size: 105% 105%;

    // 60s / 128bpm = 1 pulse every 0.46875s
    animation: bg-top-nav-pulse 0.46875s ease-in-out infinite;
    -webkit-animation: bg-top-nav-pulse 0.46875s ease-in-out infinite;
  }

  .container {
    @include touch {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

//==================================
// <RadioBar />
//==================================
.radio-bar {
  flex: 8;
  min-height: 4rem;

  #now-playing {
    display: flex;
    flex-direction: row;
    transition: 0.5s ease;
  }

  #now-playing-img {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
    }
  }

  #now-playing-details {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    // margin-left: 1rem;
    p {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .columns {
    margin-top: 0rem;
    max-height: 4rem;
    // border: 2px solid red;
    // background-color: rgba($color: orange, $alpha: 0.5);
  }
}

.live-light {
  animation: live-light-pulse 2s infinite;
}

.listen-live {
  animation: border-pulse 3s infinite;
}

@keyframes bg-top-nav-pulse {
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  75% {
    background-position: 50% 0%;
  }
}

@keyframes border-pulse {
  0% {
    border-color: white;
  }
  50% {
    border-color: $primary;
  }
  100% {
    border-color: white;
  }
}

@keyframes border-size-bounce {
  0% {
    border-width: 0.125rem;
  }
  33% {
    border-width: 0.175rem;
  }
  50% {
    border-width: 0.25rem;
  }
  66% {
    border-width: 0.175rem;
  }
  100% {
    border-width: 0.125rem;
  }
}

@keyframes live-light-pulse {
  0% {
    color: white;
  }
  50% {
    color: $primary;
  }
  100% {
    color: white;
  }
}

//==================================
// <ReactPlayer />
//==================================
.cloud-player {
  max-height: 3.5rem;
}

//==================================
// <ScheduleBar />
//==================================
.schedule-bar.container {
  flex: 7;
  color: white;
  border-bottom: 0.125rem solid white;
  min-height: 3.5rem;
  padding-top: 0.25rem;
  transition: 1s ease-in-out;
  // background-color: darkmagenta;

  &.is-open {
    height: auto;
  }
  .columns:first-of-type {
    margin: 0;
    height: 100%;
  }
}
.columns.dropdown {
  margin-top: 0.125rem;
  min-height: 3.5rem;
  background-color: rgba($color: black, $alpha: 0.85);
  border: 2px solid white;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.upcoming {
  white-space: nowrap;
}

//==================================
// <BottomNav />
//==================================
.navbar {
  border-top: 0.125rem solid white;
  // background-color: transparent;

  background-color: black;
  // background-color: rgba($color: black, $alpha: 0.5);
  a,
  span {
    color: white;
    transition: 0.25s ease;
    &:hover {
      color: $primary;
    }
  }

  // Uncomment when done converting to .site-page
  // Make navbar menu on desktop black; mobile darkPurple
  .navbar-menu {
    background-color: black;
    &.is-active {
      @include touch {
        background-color: black;
      }
    }
  }
}

.navbar-burger span {
  color: transparent;
  border: 0.125rem solid $primary;
}

.navbar-end.is-hidden-desktop {
  display: flex;
  flex-direction: row;
  a {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  a,
  span {
    color: $primary;
    transition: 0.25s ease;
    &:hover {
      color: white;
    }
  }
}
