section.sample-feature {
  margin-bottom: 3rem;
}

.columns.cms-section {
  border: 2px solid white;
  border-radius: 0.75rem;
  margin-bottom: 3rem;

  // &:first-child {
  //   margin-top: 1rem;
  // }

  .column.is-flex-desktop {
    flex-direction: column;
    div {
      flex: 1;
      padding: 0.75rem;
      margin-bottom: 1rem;
    }
  }
}

.cms-warning {
  animation: cms-warning-border 2s infinite;
}

@keyframes cms-warning-border {
  0%,
  100% {
    border: 2px solid red;
    border-radius: 0.75rem;
  }
  50% {
    border: 2px solid white;
    border-radius: 0.75rem;
  }
}
