// ================================
// Universal Slice Styles
// ================================

// Pull the article container
article .container {
  @include touch {
    width: 87.5vw;
  }
}

// First feature slice after ArticleHeadline.js
// header.article-header + section.slice {
//   margin-top: 2rem;
// }

section.slice,
article.landing-page-element {
  // margin-top: $gap;
  // margin-bottom: $gap;
  // ================================
  // Layout Helper - ImageModal.js
  // ================================
  .modal-content {
    min-width: 95vw;
    padding: 2rem;
    background-color: black;
    border: 2px solid white;
    border-radius: 0.75rem;

    .img-area {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
        max-width: calc(85vw - 4rem);
        max-height: calc(85vh - 4rem);
      }
    }
  }
}

// ================================
// CMS Slice -- Blockquote.js
// ================================
section.hero h1.has-text-centered,
section.hero p.has-text-centered,
blockquote p,
cite,
.headline-block {
  font-family: "Poppins", sans-serif;
}

blockquote p {
  font-weight: 900;
  font-style: italic;
  line-height: 1.15;
  &.light-bg {
    border-left: 5px solid black;
    color: black;
  }
  &.dark-bg {
    border-left: 5px solid white;
  }
}

h3.headline-block-subtitle {
  font-weight: 300;
}

cite {
  margin-top: -3rem;
  font-weight: 500;
  padding: 1.25rem 1.5rem;
  display: block;
  &:before {
    content: "\2014 \2009";
  }
}

// ================================
// CMS Slice -- Blockquote.js
// ================================

section.sample-feature {
  margin-bottom: 3rem;
}

.columns.cms-section {
  border: 2px solid white;
  border-radius: 0.75rem;
  margin-bottom: 3rem;

  .column.is-flex-desktop {
    flex-direction: column;
    div {
      flex: 1;
      padding: 0.75rem;
      margin-bottom: 1rem;
    }
  }
}

.cms-warning {
  animation: cms-warning-border 2s infinite;
}

@keyframes cms-warning-border {
  0%,
  100% {
    border: 2px solid red;
    border-radius: 0.75rem;
  }
  50% {
    border: 2px solid white;
    border-radius: 0.75rem;
  }
}

// ================================
// CMS Slice -- ArticleHeadline.js
// ================================
header.article-header {
  &.hero {
    height: calc(100vh - 9.625rem);

    .footer-gradient.is-overlay {
      background: linear-gradient(to bottom, transparent 80%, black);
    }

    h1 {
      font-weight: 900;
    }

    img.is-rounded {
      border: 2px solid white;
    }
    .hero-foot {
      .container {
        padding-bottom: $gap;
        .columns {
          margin: auto 0;
        }
      }
    }
  }
}

.article-category {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.25rem 0.75rem;
  border: 2px solid white;
  border-radius: $border-radius;
  margin-bottom: 0.5rem;
}

.category {
  font-weight: 700;
}

// ==================================
// Layout Helper - ResponsiveImage
// ==================================
.inline-image {
  transition: all 0.25s;
  &:hover {
    cursor: pointer;
  }
  &.lazyload {
    opacity: 0;
    transform: scale(0.75);
  }
  &.lazyloaded {
    opacity: 1;
    transform: scale(1);
  }
}

.debug {
  // border-top: 2px solid chartreuse;
  // border-bottom: 2px solid red;
}
