// ================================
// Universal Slice Styles
// ================================

// Pull the article container
article .container {
  @include touch {
    width: 87.5vw;
  }
}

header.article-img-titling + section.slice {
  margin-top: 2rem;
}

section.slice,
article.landing-page-element {
  margin-top: 1rem;

  // ================================
  // Layout Helper - ImageModal.js
  // ================================
  .modal-content {
    min-width: 95vw;
    padding: 2rem;
    background-color: black;
    border: 2px solid white;
    border-radius: 0.75rem;

    .img-area {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
        max-width: calc(85vw - 4rem);
        max-height: calc(85vh - 4rem);
      }
    }
  }
}

// ================================
// CMS Slice -- Blockquote.js
// ================================
section.hero h1.has-text-centered,
section.hero p.has-text-centered,
blockquote p,
cite,
.headline-block {
  font-family: "Poppins", sans-serif;
}

blockquote p {
  font-weight: 900;
  font-style: italic;
  line-height: 1.15;
  &.light-bg {
    border-left: 5px solid black;
    color: black;
  }
  &.dark-bg {
    border-left: 5px solid white;
  }
}

h3.headline-block-subtitle {
  font-weight: 300;
}

cite {
  margin-top: -3rem;
  font-weight: 500;
  padding: 1.25rem 1.5rem;
  display: block;
  &:before {
    content: "\2014 \2009";
  }
}

// ================================
// CMS Slice -- Blockquote.js
// ================================

section.sample-feature {
  margin-bottom: 3rem;
}

.columns.cms-section {
  border: 2px solid white;
  border-radius: 0.75rem;
  margin-bottom: 3rem;

  .column.is-flex-desktop {
    flex-direction: column;
    div {
      flex: 1;
      padding: 0.75rem;
      margin-bottom: 1rem;
    }
  }
}

.cms-warning {
  animation: cms-warning-border 2s infinite;
}

@keyframes cms-warning-border {
  0%,
  100% {
    border: 2px solid red;
    border-radius: 0.75rem;
  }
  50% {
    border: 2px solid white;
    border-radius: 0.75rem;
  }
}

// ================================
// CMS Slice -- ArticleHeadline.js
// ================================
header.article-img-titling {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10.5rem);
  .hero-body {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    flex: 1;
  }
  .hero-foot {
    padding: 1rem 0 1rem;
    flex: 0;
  }

  img.is-rounded {
    border: 2px solid white;
  }
  .title {
    font-family: "Poppins", sans-serif;
  }
  .subtitle {
    font-weight: 300;
  }
}

.category {
  font-weight: 700;
}

.headline-block {
  height: 25rem;
  background-size: cover;
  background-position: center center;
  .container > .columns {
    padding: 1rem;
    margin-top: 10rem;
    background-color: rgba($color: black, $alpha: 0.85);
    border: 2px solid white;
    border-radius: 0.75rem;
    margin-bottom: auto;
  }

  .category {
    padding-bottom: 1rem;
  }

  h3 {
    font-weight: 300;
  }

  .column.author {
    border: 1px dotted red;
  }
}

// ==================================
// Layout Helper - ResponsiveImage
// ==================================
.inline-image {
  transition: all 1s;
  &:hover {
    cursor: pointer;
  }
  &.lazyload {
    opacity: 0;
    transform: scale(0.75);
  }
  &.lazyloaded {
    opacity: 1;
    transform: scale(1);
  }
}
