.hero-body {
  min-height: calc(100vh - 19.375rem);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.event-title {
  margin: 0 auto 0;
}

.event-timer {
  min-height: 9rem;
  position: sticky;
  position: -webkit-sticky;
  top: 6.625rem;
  z-index: 3;
}

.event-title p, .time-amount, .timer-caption, .event-timer {
  transition: .25s ease;
}

.timer-caption {
  font-weight: 300;
  letter-spacing: .125rem;
}
