header.event-header {
  // min-height: calc(100vh - 9.75rem);
  min-height: calc(100vh - 20.375rem);

  .hero-body {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

.timer-container {
  padding-bottom: .75rem;
  position: sticky;
  position: -webkit-sticky;
  top: 6.625rem;
  z-index: 3;
}

.event-timer-component {
  background-color: rebeccapurple;
  .event-time-caption {
    font-weight: 300;
    letter-spacing: .125rem;
  }
}
