header.event-header {
  // min-height: calc(100vh - 9.75rem);
  min-height: calc(100vh - 20.375rem);

  .hero-body {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

.event-timer {
  padding-bottom: .75rem;
  position: sticky;
  position: -webkit-sticky;
  top: 6.625rem;
  z-index:3;

}

.timer-component {
  background-color: rebeccapurple;
}

.timer-caption {
  font-weight: 300;
  letter-spacing: .125rem;
}
