// ================================
// /features index
// ================================
#features .hero-body .container {
  height: calc(0.9 * (100vh - 9.75rem));
  display: flex;
  flex-direction: column;

  header {
    flex: 0;
  }
}

.lead-details,
.highlight-details {
  background-color: rgba($color: black, $alpha: 0.85);
}

// ================================
// MainFeatureArticle.js
// ================================
.main-feature {
  flex: 1;

  .column {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 1.625rem);
  }

  .lead-details {
    padding: 0.75rem;

    span {
      margin-bottom: 0.75rem;
    }
  }
}

.secondary-features {
  flex: 0;

  .column {
    height: 9.5rem;
  }
}

// ================================
// HighlightFeature.js
// ================================
article.highlight-feature {
  display: flex;
  border-radius: 0.75rem;
  border: 2px solid white;

  figure {
    min-width: 128px;
    object-fit: contain;
  }

  img {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
}

.highlight-details {
  width: 100%;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  .content {
    padding: 1rem;

    p.title {
      padding-top: 0.5rem;
    }
  }
}
// ================================
// StickyFeature.js
// ================================
.all-features {
  img {
    border: 2px solid white;
    border-radius: 0.75rem;
  }
}

.other-features {
  margin-top: 8.5rem;
}

section.is-ancestor {
  height: calc(100vh - 17.75rem); // - 9.75rem .homepage-hero reference
}

#featured-articles {
  height: calc(100vh - 17.75rem); // - 9.75rem .homepage-hero reference
  padding: 0.75rem;

  .column {
    border: 2px solid white;
    border-radius: 0.75rem;
  }
}

.tile.is-child {
  padding: 0;
  display: flex;
  flex-direction: column;
  .article-image {
    flex: 0;
    img {
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }
  }
  .article-content {
    padding: 0.75rem;
    flex: 1;
  }
}
#secondary-articles {
  .columns {
    height: calc(0.475 * (100vh - 17.75rem));
    padding: 0.75rem;
  }
}
