// ================================
// StickyFeature.js
// ================================
.all-features {
  img {
    border: 2px solid white;
    border-radius: 0.75rem;
  }
}

.other-features {
  margin-top: 8.5rem;
}
