// Please remember to remove test sass at bottom of this file!

//==================================
// BULMA VARIABLES
//==================================
@import "./bulma.sass";

$pink: #f600ff;
$primary: $pink;
$body-background-color: black;
//==================================
// text variables
//==================================
$body-color: $white;
$text: $white;
$title-color: $white;
$subtitle-color: $white;
$content-heading-color: $white;
$content-blockquote-background-color: transparent;
$content-blockquote-border-left: 5px solid white;

//==================================
// /search page stuff
//==================================
$input-color: white;
$input-background-color: black;
$input-border-color: white;
$input-shadow: inset 0 1px 2px rgba(white, 0.1);
$input-hover-border-color: darken($primary, 10);
$input-focus-border-color: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);
$input-icon-color: white;
$input-icon-active-color: $primary;

//==================================
// button element variables
//==================================
$button-border-width: 2px;
$button-color: white;
$button-background-color: black;
$button-hover-color: darken(white, 10);
$button-hover-border-color: $grey;
$button-text-hover-background-color: $primary;
$button-focus-color: $white;
$button-focus-border-color: $primary;
$button-active-color: darken($primary, 15);
$button-active-border-color: darken($primary, 15);

//==================================
// dropdown element variables
//==================================
// $dropdown-content-arrow: white;
// $dropdown-item-active-background-color: white;

//==================================
// Duotone variables - SingleMixCard
//==================================
$dt-base: #f600ff;
$dt-bg-blend: multiply;
$dt-blur: 0px;
$dt-fg-blend: lighten;
$dt-foreground: #16006f;
$dt-opacity: 1;
$dt-spacing: 1%;

//==================================
// Content Cards - All Cards
//==================================
$card-content-background-color: black;
$card-content-padding: 0.75rem;
$card-radius: 0.75rem;

//==================================
// FONTS
//==================================
// @font-face {
//   font-family: "Authentic Sans Condensed - 60";
//   src: url("../fonts/AUTHENTICSans-Condensed-60.woff") format("woff")
//     url("../fonts/AUTHENTICSans-Condensed-60.woff2") format("woff2");
// }
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");

//==================================
// GLOBAL STYLES
//==================================
// To edges of available space between navbars
.full-height-page {
  padding-top: 6.625rem;
  padding-bottom: 3.75rem;
  min-height: 100vh;
}

// Provides spacing of content away from top and bottom navs
.black-bg-page {
  padding-top: 7rem;
  padding-bottom: 5rem;
  min-height: 100vh;
}

button.button,
.title,
.display-text,
.navbar-item,
.tag {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  font-weight: 700;
}

button p,
.subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-display: swap;
}

button.button {
  transition: 0.25s ease-in-out;
  @include mobile {
    font-size: 0.625rem;
  }
  &.active {
    transition: 0.25s ease-in-out;
    color: white;
    border-color: $primary;
  }
}

.buttons.are-tags {
  flex: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 1rem;
}

.icon-color {
  color: white;
  transition: 0.25s ease-in-out;
  &:hover {
    color: $primary;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

figcaption {
  font-size: $size-6;
  &.credit {
    font-size: $size-7;
    color: $grey;
    font-style: italic;
  }
}

//===========================================
// For screen-readers - bulma stuff was fussy
//===========================================
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    padding: 1rem;
    width: auto;
    background-color: darken($color: $primary, $amount: 40);
    border: 0.25rem solid $primary;
    color: white;
    z-index: 999999;
  }
}

//================================================
// Override default bulma card styles
// Give each card a solid $primary border
// Make bgColor of content black; dark purp onHover
// Push the tagline after the title of a card down
// Give the date of content items some space
//================================================

// Prevents clipping of background color through the curved card border
.card-content {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

//==========================
// SingleEventCard.js
//==========================
.event-card-sizing {
  display: flex;
  flex-direction: column;
  min-height: 8rem;

  .details {
    flex: 1;
  }
  .blurb {
    flex: 0;
  }
}

//==========================
// SingleMixCard.js
//==========================
.mix-card-sizing {
  display: flex;
  flex-direction: column;
  @include mobile {
    min-height: 11.5rem;
  }
  @include tablet {
    min-height: 12rem;
  }

  .mix-text {
    flex: 1;
  }
}

.play-btn-diffuser {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;

  .play-icon {
    color: transparent;
    border: 2px solid transparent;
    transition: ease-in-out 0.5s;
  }
}

.card {
  border: 2px solid white;
  border-radius: 0.75rem;
  margin: 0 0.125rem;
  transition: 0.5s ease;

  figure,
  img,
  .play-btn-diffuser {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    transition: 0.5s ease;
  }

  img {
    object-fit: cover;
  }

  &:hover {
    border: 2px solid $primary;

    figure {
      border-top-left-radius: 0.6rem;
      border-top-right-radius: 0.6rem;
      background-color: $dt-base;

      img {
        filter: grayscale(100%) contrast(1) blur(3px);
        mix-blend-mode: $dt-bg-blend;
        opacity: $dt-opacity;
        object-fit: cover;
      }

      &::before {
        background-color: $dt-foreground;
        content: "";
        mix-blend-mode: $dt-fg-blend;
        z-index: 1000;
      }
    }

    .play-btn-diffuser {
      border-top-left-radius: 0.6rem;
      border-top-right-radius: 0.6rem;
      cursor: pointer;
    }

    .card-content {
      border-bottom-left-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;
    }

    .play-btn-diffuser {
      display: flex;
      justify-content: center;

      .play-icon {
        color: white;
        transition: 0.125s ease;

        // Button gets lost in color
        &:hover {
          filter: drop-shadow(0.75rem 0.75rem 0.75rem black);
          transform: scale(1.1);
        }
        &:active {
          color: $primary;
          filter: drop-shadow(0.5rem 0.5rem 0.75rem black);
          transform: scale(1.05);
        }
      }
    }
  }
}

// Article embeds
.embed {
  margin-bottom: 1.25rem;

  iframe {
    border: 2px solid white;
    border-radius: 0.75rem;
    transition: 0.5s ease;

    @include touch {
      width: fit-content;
      height: fit-content;
      &:hover {
        border: 2px solid $primary;
      }
    }
  }
}
