//==================================
// BULMA VARIABLES
//==================================
@import "../../node_modules/bulma/bulma.sass";

$tablet: 768px;
$strong-color: white;
$border: white;
$pink: #f600ff;
$primary: $pink;
$body-background-color: black;
$family-sans-serif: "Poppins", sans-serif;
$transition-speed: 0.25s $easing;
$border-radius: 0.75rem;
$link: lighten($primary, 35);
$link-hover: white;
$body-line-height: 1.6;
$hero-body-padding-medium: 6rem 1.5rem;
//==================================
// navbar variables
//==================================
$navbar-dropdown-background-color: black;
$navbar-dropdown-item-hover-color: darken($primary, 25);
$navbar-dropdown-item-hover-background-color: darken($primary, 25);
$navbar-item-active-background-color: darken($primary, 25);

//==================================
// text variables
//==================================
$body-color: $white;
$text: $white;
$title-color: $white;
$subtitle-color: $white;
$content-heading-color: $white;
$content-blockquote-background-color: transparent;
$content-blockquote-border-left: 5px solid white;

//==================================
// /search page stuff
//==================================
$label-color: white;
$input-color: white;
$input-background-color: black;
$input-border-color: white;
$input-shadow: inset 0 1px 2px rgba(white, 0.1);
$input-hover-border-color: darken($primary, 10);
$input-focus-border-color: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);
$input-icon-color: white;
$input-icon-active-color: $primary;

//==================================
// button element variables
//==================================
$button-color: white;
$button-background-color: black;
$button-hover-color: white;
$button-hover-border-color: $primary;
$button-focus-color: white;
$button-focus-border-color: $primary;
$button-active-color: darken(white, 20);
$button-active-border-color: darken($primary, 25);
$button-border-width: 2px;

//==================================
// dropdown element variables
//==================================
// $dropdown-content-arrow: white;
// $dropdown-item-active-background-color: white;

//==================================
// Duotone variables - SingleMixCard
//==================================
$dt-base: darken($primary, 15);
$dt-bg-blend: multiply;
$dt-blur: 0px;
$dt-fg-blend: lighten;
$dt-foreground: #16006f;
$dt-opacity: 1;
$dt-spacing: 1%;

// <blend-mode>where <blend-mode> = normal | multiply | screen | overlay | darken | lighten | color-dodge | color-burn | hard-light | soft-light | difference | exclusion | hue | saturation | color | luminosity
//==================================
// Content Cards - All Cards
//==================================
$card-content-background-color: black;
$card-content-padding: 0.75rem;
$card-radius: 0.75rem;

//==================================
// TABLE - /hmbk-admin/netlify-status
//==================================
$table-background-color: black;
$table-head-background-color: black;
$table-body-background-color: black;
$table-color: white;
$table-cell-border: 2px solid $grey-dark;
$table-cell-padding: 0.75rem 1rem;
//==================================
// FONTS
//==================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

//==================================
// GLOBAL STYLES
//==================================
// To edges of available space between navbars
.full-height-page {
  padding-top: 6.625rem;
  padding-bottom: 3.75rem;
  min-height: 100vh;
}

// Provides spacing of content away from top and bottom navbars
.black-bg-page {
  padding-top: 7.625rem;
  padding-bottom: 5.25rem;
  min-height: 100vh;
}

p,
button.button,
button p,
li,
.title,
.display-text,
.navbar-item,
.tag,
.subtitle,
.hero-title {
  font-family: $family-sans-serif;
}

p {
  font-weight: 400;
}

button.button,
.title,
.display-text,
.navbar-item,
.tag {
  font-weight: 700;
}

li,
.subtitle {
  font-weight: 300;
}

button.button {
  transition: $transition-speed;
  .cross {
    transition: $transition-speed;
    opacity: 0;
  }

  &:hover {
    .cross {
      opacity: 1;
    }
  }
}

.icon-color {
  color: white;
  transition: $transition-speed;
  &:hover {
    color: $primary;
  }
}

.border-color,
.tag,
.card {
  border: 2px solid white;
  border-radius: $border-radius;

  transition: $transition-speed;
  &:hover {
    border: 2px solid $primary;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

figcaption {
  &.credit {
    color: $grey-light;
    font-size: $size-7;
    font-style: italic;
    font-family: $family-sans-serif;
  }
}

.text-block a {
  background: linear-gradient(to bottom, $primary 0%, darken($primary, 30) 0%);
  background-position: 0% 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  transition: 0.125s $easing;
  &:hover,
  &:focus {
    background-size: 2px 1.5rem;
  }
}
//===========================================
// For screen-readers - bulma stuff was fussy
//===========================================
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    padding: 1rem;
    width: auto;
    background-color: darken($color: $primary, $amount: 40);
    border: 2px solid $primary;
    border-radius: $border-radius;
    color: white;
    z-index: 999999;
  }
}

.unstyled {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

//================================================
// Override default bulma card styles
// Give each card a solid $primary border
// Make bgColor of content black; dark purp onHover
// Push the tagline after the title of a card down
// Give the date of content items some space
//================================================

// Remove bottom padding from 'section' class for media card mappings
.section.media-cards {
  padding-bottom: 0;
}

// Prevents clipping of background color through the curved card border
.card-content {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

//==========================
// SingleFeatureCard.js
//==========================
.feature-card-sizing,
.event-card-sizing,
.mix-card-sizing {
  display: flex;
  flex-direction: column;
  min-height: 9.5rem;
}

.details {
  flex: 1;
}

.blurb {
  flex: 0;
}

//==========================
// SingleMixCard.js
//==========================
.mix-card-sizing {
  min-height: 11rem;
}

.mix-details {
  flex: 1;
  display: flex;
  flex-direction: row;

  .mix-icon {
    flex: 0;
    padding-right: 0.75rem;
  }

  .mix-text {
    flex: 1;
  }
}

.play-btn-diffuser {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s $easing;

  .play-icon {
    color: transparent;
    border: 2px solid transparent;
    transition: 0.25s $easing;
  }
}

.card {
  margin: 0 0.125rem;
  transition: 0.25s $easing;

  .card-image,
  figure,
  img,
  .play-btn-diffuser {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    transition: 0.25s $easing;
  }

  img {
    min-height: 9rem;
    object-fit: cover;
  }

  &:hover {
    figure {
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      background-color: $dt-base;

      img {
        filter: grayscale(100%) contrast(1) blur(2px);
        mix-blend-mode: $dt-bg-blend;
        opacity: $dt-opacity;
        object-fit: cover;
      }

      &::before {
        background-color: $dt-foreground;
        content: "";
        mix-blend-mode: $dt-fg-blend;
        z-index: 1000;
      }
    }

    .play-btn-diffuser {
      border-top-left-radius: 0.75em;
      border-top-right-radius: 0.75em;
      cursor: pointer;
    }

    .card-content {
      border-bottom-left-radius: 0.75em;
      border-bottom-right-radius: 0.75em;
    }

    .play-btn-diffuser {
      display: flex;
      justify-content: center;

      .play-icon {
        color: white;
        transition: 0.125s ease;

        // Button gets lost in color
        &:hover {
          filter: drop-shadow(0.75rem 0.75rem 0.75rem black);
          transform: scale(1.2);
        }
        &:active {
          color: $primary;
          filter: drop-shadow(0.5rem 0.5rem 0.75rem black);
          transform: scale(1.05);
        }
      }
    }
  }
}

img {
  transition: 0.125s $easing;
  &.lazyload {
    opacity: 0;
    transform: scale(0.75);
  }
  &.lazyloaded {
    opacity: 1;
    transform: scale(1);
  }
}

// New Working Hero
.hero {
  .footer-gradient.is-overlay {
    background: linear-gradient(to bottom, transparent 80%, black);
  }
  &.homepage {
    height: calc(100vh - 8.75rem);
  }

  &.contained-image {
    height: calc(100vh - 9.75rem);
    img {
      transition: 0.25s $easing;
      &.lazyload {
        opacity: 0;
        transform: scale(0.75);
      }
      &.lazyloaded {
        opacity: 1;
        transform: scale(1);
      }
    }
    & .hero-body {
      padding: 0;
      margin: -1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .bg-gradient {
        background: linear-gradient(
          to right,
          transparent 0%,
          black 40%,
          black 60%,
          transparent 100%
        );
      }
      .overlay-image {
        position: relative;
        z-index: 10;
      }

      img {
        max-width: 100vw;
        max-height: calc(100vh - 9.75rem);
        object-fit: contain;
      }
    }
  }

  &.is-blockquote {
    .hero-body {
      min-height: initial;
    }
  }

  &.is-halfheight {
    height: calc(0.5 * (100vh - 15rem));
    & .hero-body {
      padding: initial;
      height: calc(0.5 * (100vh - 15rem));
    }
  }

  &.is-fwi {
    &-quarterpage {
      height: calc(0.25 * (100vh - 9.75rem));
    }
    &-halfpage {
      height: calc(0.5 * (100vh - 9.75rem));
    }

    &-fullpage {
      height: calc(100vh - 9.75rem); // Correct full screen image
    }
  }

  &.is-password {
    @extend .is-halfheight;
    min-height: calc(100vh - 9.75rem);
  }

  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    &.is-transparent {
      opacity: 0.5;
    }
  }

  & .blurred-bg {
    filter: blur(15px);
  }

  // ================================
  // CMS Slice -- ArticleHeadline.js
  // ================================
  &.article-header {
    height: calc(100vh - 9.625rem);
    justify-content: flex-end;
    h1 {
      font-weight: 900;
    }

    img.is-rounded {
      border: 2px solid white;
    }
    .hero-foot {
      .container {
        padding-bottom: $gap;
        .columns {
          margin: auto 0;
        }
      }
    }
  }
}

//==========================
// For /guide/ route
//==========================
.column.password {
  height: calc(100vh - 16.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input.input {
  border: 2px solid white;

  &::placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    font-family: $family-sans-serif;
    color: $grey-lighter;
  }
}

// @function multiple-box-shadow($n) {
//   $value: "#{random(2000)}px #{random(2000)}px #fff";
//   @for $i from 25 through $n {
//     $value: "#{$value}, #{random(2000)}px #{random(2000)}px #fff";
//   }
//   @return unquote($value);
// }

// $shadows-small: multiple-box-shadow(700);
// $shadows-medium: multiple-box-shadow(200);
// $shadows-big: multiple-box-shadow(100);

// #stars {
//   width: 1px;
//   height: 1px;
//   background: transparent;
//   box-shadow: $shadows-small;
//   animation: animStar 50s linear infinite;

//   &:after {
//     content: " ";
//     position: absolute;
//     top: 2000px;
//     width: 1px;
//     height: 1px;
//     background: transparent;
//     box-shadow: $shadows-small;
//   }
// }

// @keyframes animStar {
//   from {
//     transform: translateY(0px);
//   }
//   to {
//     transform: translateY(-2000px);
//   }
// }

//==========================
// HMBKDivider.js - forLoading: true
//==========================
.divider {
  &-left {
    background: linear-gradient(135deg, #ffffff, #f600ff, #ffffff);
    background-size: 600% 600%;

    -webkit-animation: DividerAnim 1.25s ease infinite;
    -moz-animation: DividerAnim 1.25s ease infinite;
    -o-animation: DividerAnim 1.25s ease infinite;
    animation: DividerAnim 1.25s ease infinite;
  }
  &-right {
    background: linear-gradient(-135deg, #ffffff, #f600ff, #ffffff);
    background-size: 600% 600%;

    -webkit-animation: DividerAnim 1.25s ease infinite;
    -moz-animation: DividerAnim 1.25s ease infinite;
    -o-animation: DividerAnim 1.25s ease infinite;
    animation: DividerAnim 1.25s ease infinite;
  }

  &-logo {
    -webkit-animation: DividerLogoScaling 1.25s ease infinite;
    -moz-animation: DividerLogoScaling 1.25s ease infinite;
    -o-animation: DividerLogoScaling 1.25s ease infinite;
    animation: DividerLogoScaling 1.25s ease infinite;
  }
}

@-webkit-keyframes DividerAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes DividerAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes DividerAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes DividerAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes DividerLogoScaling {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@-moz-keyframes DividerLogoScaling {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@-o-keyframes DividerLogoScaling {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes DividerLogoScaling {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
