//==================================
// BULMA VARIABLES
//==================================
@import "./bulma.sass";

$pink: #f600ff;
$primary: $pink;
// $primary-invert: black;

//==================================
// FONTS
//==================================
// OPTIONS
// - Open Sans
// - Titillium Web

@font-face {
  font-family: "Authentic Sans Condensed - 60";
  src: url("../fonts/AUTHENTICSans-Condensed-60.woff") format("woff")
    url("../fonts/AUTHENTICSans-Condensed-60.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css?family=Aldrich&display=swap");

//==================================
// GLOBAL STYLES
//==================================

html,
body {
  background-color: black;
  color: white;
}

.title,
#slogan {
  font-family: "Aldrich", sans-serif;
  font-display: swap;
}

p,
.subtitle,
.tag {
  font-family: "Authentic Sans Condensed - 60", sans-serif;
  // font-weight: 400;
  font-display: swap;
}

p,
p.title,
p.subtitle {
  color: white;
}

.tag {
  border: 2px solid #888;
  transition: 0.25s ease;

  &:hover {
    border: 2px solid $primary;
  }
}

//================================================
// For screen-readers - bulma stuff was fussy
//================================================
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    padding: 1rem;
    width: auto;
    background-color: darken($color: $primary, $amount: 40);
    border: 0.25rem solid $primary;
    color: white;
    z-index: 999999;
  }
}

//================================================
// Override default bulma card styles
// Give each card a solid $primary border
// Make bgColor of content black; dark purp onHover
// Push the tagline after the title of a card down
// Give the date of content items some space
//================================================
.card {
  // border: 0.25rem solid darken($color: $primary, $amount: 20);
  border: 2px solid white;
  border-radius: 0.75rem;
  margin: 0 0.125rem;
  transition: 0.25s ease;

  img {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  .play-btn-diffuser {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  .content-date {
    margin-bottom: 0.5rem;
  }

  .card-content {
    background-color: black;
    padding: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    transition: 0.25s ease;

    .content-text {
      @include mobile {
        min-height: 5rem;
      }
      @include tablet-only {
        min-height: 5.5rem;
      }
      @include desktop-only {
        min-height: 6rem;
      }
      @include widescreen-only {
        min-height: 6.5rem;
      }
      @include fullhd {
        min-height: 5.5rem;
      }
    }

    p.title + p {
      padding-top: 0.5rem;
    }
  }

  .play-btn-diffuser {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.25s;

    div {
      color: transparent;
      transition: ease-in-out 0.25s;
    }
  }

  &:hover {
    border: 2px solid $primary;
    box-shadow: 10px 8px 5px black;

    .play-btn-diffuser {
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }

    .card-content {
      background-color: darken($color: $primary, $amount: 35);
      border-bottom-left-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }

    .play-btn-diffuser {
      display: flex;
      justify-content: center;
      background-color: rgba($color: black, $alpha: 0.75);

      span {
        color: white;
        &:hover {
          color: darken($color: $primary, $amount: 10);
        }
        &:active {
          color: $primary;
        }
      }
    }
  }
}

.play-btn-diffuser {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.25s;

  span {
    color: transparent;
    transition: ease-in-out 0.25s;
  }
}

// @keyframes cover-img-radio {
//   0% {
//     background-color: rgba($color: black, $alpha: 0.5);
//   }

//   79% {
//     background-color: rgba($color: black, $alpha: 0.75);
//   }
//   80% {
//     background-color: transparent;
//   }
// }

.tags {
  padding-bottom: 0;
  margin-bottom: 0;

  @include mobile {
    min-height: 6rem;
  }
  @include from($tablet) {
    min-height: 6rem;
  }
  @include widescreen-only {
    min-height: 5rem;
  }
  @include fullhd {
    min-height: 4rem;
  }
}
