//==================================
// <Hero />
//==================================
.slider-sizing {
  cursor: pointer;
  &:active {
    cursor: grabbing;
  }
  width: 100vw;
  height: calc(100vh - 9.75rem);
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-shadow: 0 0 5px black, 1px 1px black, 2px 2px black, 3px 3px black;
  &.cta {
    display: inline-block;
    padding: 0.75rem 0.75rem 0.5rem;
    border: 2px solid white;
    border-radius: 0.75rem;
    background-color: rgba($color: black, $alpha: 0.9);
    &::after {
      content: " \2023";
    }
  }
}

.homepage-hero {
  height: calc(100vh - 9.75rem);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

//==================================
// <HomeContent />
//==================================
// Make each content sections' titles and taglines sticky
.sticky-section-blurb {
  position: -webkit-sticky;
  position: sticky;
  top: 8.25rem;

  button {
    top: 0.5rem;
  }
}

// Make mobile entries horizontally scrollable
.mobile-single-items {
  overflow-x: auto;
}

#home-mixes,
#home-events,
#home-news {
  border-top: 0.125rem solid white;
  padding: 3rem 2rem 1.625rem;

  @include mobile {
    padding: 2rem 1rem;
  }
}
