//==================================
// <Hero />
//==================================
.homepage-hero {
  margin-top: 8.25rem;
  height: calc(100vh - 10.5rem);

  // background-color: darken($color: $primary, $amount: 45);
  background-image: url(https://source.unsplash.com/1920x1080/daily?coffee);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .columns .column {
    background-color: rgba(
      $color: darken($color: $primary, $amount: 45),
      $alpha: 0.85
    );
  }
}

//==================================
// <HomeContent />
//==================================
.home-content {
  margin-bottom: 3rem;
  // background-color: darken($color: $primary, $amount: 45);

  // Make all content text white
  // p {
  //   color: white;
  // }

  // Make each content sections' titles and taglines sticky
  .sticky-section-blurb {
    position: -webkit-sticky;
    position: sticky;

    // For clarity, please leave as following:
    // top = calc(TopNav height + section container padding)
    top: calc(8.25rem + 1rem);
    margin-bottom: 1rem;

    p {
      text-shadow: 2px 2px 2px black;
      &:first-child {
        margin-bottom: 2.5rem;
      }
    }

    button {
      top: 0.5rem;
    }
  }

  // Give all mobile titles & subtitles a shadow
  p.mobile-headers {
    text-shadow: 3px 3px 2px black;
  }

  .columns.is-mobile.is-multiline {
    .column {
      padding-bottom: 0;
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }

  // Make mobile entries horizontally scrollable
  .mobile-single-items {
    overflow-x: auto;
  }

  // Pull "More >" buttons to right of columns
  .more-link {
    margin-right: 0;
    margin-left: 0;
  }

  // Darken bg; create padding for sectional content
  .image-diffuser {
    // background-color: rgba($color: #000000, $alpha: 0.65);
    padding: 3rem 2rem;

    @include mobile {
      padding: 2rem 1rem;
    }
  }
}

#home-mixes,
#home-events,
#home-news {
  border-top: 0.25rem solid $primary;
}
//==================================
// <HomeMixes />
//==================================

// background-image: url(https://source.unsplash.com/1920x1080/weekly?nebula);
// background-position: center center;
// background-repeat: no-repeat;
// background-attachment: scroll;
// background-size: cover;

//==================================
// <HomeEvents />
//==================================

// background-image: url(https://source.unsplash.com/1920x1080/?nebula);
// background-position: center center;
// background-repeat: no-repeat;
// background-attachment: scroll;
// background-size: cover;

//==================================
// <HomeNews />
//==================================

// background-image: url(https://source.unsplash.com/1920x1080/?weekly?nebula);
// background-position: center center;
// background-repeat: no-repeat;
// background-attachment: scroll;
// background-size: cover;
