//==================================
// <Hero />
//==================================
.slider-sizing {
  cursor: pointer;
  &:active {
    cursor: grabbing;
  }
  width: 100vw;
  height: calc(100vh - 9.75rem);
}

$text-shadow: ();
@for $i from 1 through 8 {
  $text-shadow: $text-shadow, 1px * $i 1px * $i 1px black;
}

.hero-title {
  font-weight: 900;
  text-shadow: $text-shadow;
  -webkit-text-shadow: $text-shadow;
  text-stroke: 2px black;
  -webkit-text-stroke: 2px black;

  @include touch {
    text-stroke: 1px black;
    -webkit-text-stroke: 1px black;
  }

  &.cite {
    text-stroke: 1px black;
    -webkit-text-stroke: 1px black;
  }
}

.cta {
  display: inline-block;
  margin-top: -1rem;
  padding: 0.625rem 1rem;
  border: 2px solid white;
  border-radius: 0.75rem;
  text-transform: uppercase;
  background-color: black;
}

.lead-feature {
  font-weight: 700;
}

.homepage-hero {
  height: calc(100vh - 9.75rem);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-bullets {
  border-radius: 25%;
  width: 32px;
  height: 32px;
  margin-inline-start: 0.75rem;
  @include mobile {
    width: 24px;
    height: 24px;
  }
}

//==================================
// <HomeContent />
//==================================
// Make each content sections' titles and taglines sticky
.sticky {
  &-items {
    border-top: 0.125rem solid white;
    padding: 3rem 2rem 1.625rem;

    @include mobile {
      padding: 2rem 1rem;
    }
  }
  &-section {
    position: -webkit-sticky;
    position: sticky;
    top: 8.25rem;

    &-blurb {
      button {
        top: 0.5rem;
      }
    }
  }
  // Make mobile entries horizontally scrollable
  &-scroll-items {
    overflow-x: auto;
  }
}
