.mixes-page {
  @include tablet;
  margin-top: 8.25rem;

  padding-bottom: 5rem;
  margin-bottom: 3rem;
  border-bottom: 0.25rem solid white;

  background-image: url(https://source.unsplash.com/1920x1080/daily?trance);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  // Set all text to white
  p {
    color: white;

    // Give 'Radio Mixes' a shadow
    &.title.is-1 {
      text-shadow: 3px 3px 2px black;
      padding: 0.5rem 0 0.75rem;
    }
  }

  .single-mix {
    height: 12rem;
    background-image: url(https://source.unsplash.com/1280x800/daily?studio);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0 1rem 2rem;
    padding: 0;
    transition: ease-in-out 0.5s;

    &:hover {
      margin: 0 0.25rem 2rem;
      box-shadow: 10px 8px 5px black;
    }

    .black-overlay {
      background-color: rgba($color: #000000, $alpha: 0.4);
      height: 100%;
      flex-direction: column;
      justify-content: flex-end;

      // Color schemes for mix types
      .mix-category {
        background-color: indigo;
        padding: 0.25rem;
        display: inline;
      }

      .mix-info {
        padding: 1.25rem;

        // Give all mixtext a shadow
        p {
          text-shadow: 1px 1px 1px black;

          // Push the category up away from the mix title
          &.title {
            margin-top: 1rem;
            text-shadow: 3px 3px 2px black;
          }
        }
      }
    }
  }
}
