.news-hero {
  margin-top: 7.5rem;
  height: calc(100vh - 10.5rem);
  display: flex;
  flex-direction: column;
  background-image: url(https://source.unsplash.com/1920x1080/daily?dj);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  // Make all text white
  p {
    color: white;

    &.title {
      padding: 1rem 0;
      text-shadow: 2px 2px 2px black;
    }
  }

  // Align the top 'columns' div to the schedule bar
  .headers {
    margin-top: 0;
  }

  // Give both 'columns' divs borders and a background color
  .category {
    &:first-child {
      border-left: 1px solid grey;
    }
    border-right: 1px solid grey;

    background-color: rgba($color: #000000, $alpha: 0.85);
    padding: 0;
  }

  .category-items {
    &:first-child {
      border-left: 1px solid grey;
    }
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    max-height: calc(100vh - 23.5rem);
    overflow-y: auto;
    background-color: rgba($color: #000000, $alpha: 0.5);
    scrollbar-width: none;
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .single-item {
    width: auto;
    height: 12rem;
    background-image: url(https://source.unsplash.com/1280x800/?concert);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-bottom: 2.5rem;

    // .item-details {
    //   padding: 0.25rem 0.75rem;
    //   height: 1.5rem;
    //   background-color: rgba($color: #000000, $alpha: 0.35);
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    // }

    .item-info {
      background-color: rgba($color: #000000, $alpha: 0.25);
      height: 100%;
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      // Give all text a shadow
      p {
        text-shadow: 2px 2px 1px black;
      }
    }
  }

  // BEYOND THIS POINT
  // OLD CSS TO SORT THROUGH
  // WILL BE REPURPOSED FOR THE MOBILE LAYOUT

  #div-1,
  #div-2,
  #div-3,
  #div-4 {
    flex: 1;
    align-items: center;
    display: flex;

    p {
      color: white;
      padding-left: 3rem;
    }
  }
  .white-content {
    flex: 12;
    background-color: #2a2a2a;
    transform: ease-in-out 0.5sec;
    overflow-y: scroll;
  }

  #div-1 {
    background-color: green;
    // background-image: url(https://source.unsplash.com/768x1024/weekly?nature);
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;
  }
  #div-2 {
    background-color: coral;
    // background-image: url(https://source.unsplash.com/768x1024/weekly?food);
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;
  }
  #div-3 {
    background-color: cornflowerblue;
    // background-image: url(https://source.unsplash.com/768x1024/weekly?cars);
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;
  }
  #columns-mobile {
    margin-top: 0;
  }

  .img-nature {
    background-image: url(https://source.unsplash.com/768x1024/daily?nature);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 25rem;
  }
  .img-food {
    background-image: url(https://source.unsplash.com/768x1024/daily?food);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 25rem;
  }
  .img-cars {
    background-image: url(https://source.unsplash.com/768x1024/daily?cars);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 25rem;
  }

  .img-nature,
  .img-food,
  .img-cars {
    margin: 2rem 0;
  }
}
