.resident-bio {
  margin-top: 8.25rem;
  margin-bottom: 3rem;
  min-height: calc(100vh - 10.5rem);
  border-bottom: 0.25rem solid white;

  background-image: url(https://source.unsplash.com/1920x1080/weekly?stars);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .image-diffuser {
    background-color: rgba($color: black, $alpha: 0.5);
    padding-bottom: 3.5rem;
    min-height: calc(100vh - 10.5rem);
  }

  // Set all text to white
  p {
    color: white;

    // Give 'Residents' a shadow
    &.title {
      text-shadow: 3px 3px 2px black;
      padding: 0.5rem 0 0.75rem;
    }
  }

  .resident-social-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // Space out links on mobile only
    @include mobile {
      justify-content: space-between;
      padding: 0;
    }
  }

  .bio-mixes {
    p:first-child() {
      margin-bottom: 1rem;
    }
  }
}
//==================================
// <BioMixList />
//==================================
.pagination {
  // TODO: change bg-color of pagination buttons
}

//==================================
// <BioSingleMix />
//==================================
// .resident-mix {
//   border: 0.125rem solid white;
//   padding: 0.25rem;
//   background-color: black;

//   margin: 0.5rem;
//   transition: ease-in-out 0.25s;

//   .bio-mix-image {
//     background-image: url(https://source.unsplash.com/1080x1080/weekly?nature);
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-attachment: scroll;
//     background-size: cover;

//     .play-btn-diffuser {
//       padding: 25%;
//       display: flex;
//       justify-content: center;
//       transition: ease-in-out 0.25s;

//       span {
//         color: transparent;
//         transition: ease-in-out 0.25s;
//       }
//     }
//   }

//   &:hover {
//     margin: 0;
//     box-shadow: 10px 8px 5px black;

//     .play-btn-diffuser {
//       padding: 25%;
//       display: flex;
//       justify-content: center;
//       background-color: rgba($color: black, $alpha: 0.75);

//       span {
//         color: white;
//         &:active {
//           color: $primary;
//         }
//       }
//     }
//   }

//   .item-content {
//     padding: 0.5rem;

//     .content-date {
//       margin-bottom: 0;
//       padding-bottom: 0;
//     }
//     .title {
//       margin-top: 0;
//       padding-top: 0;
//     }
//   }
// }

//==================================
// <BioHorizItem />
//==================================
.bio-single-mix {
  @include desktop {
    margin-bottom: 1rem;
  }
}

.bio-mix-container {
  @include desktop {
    min-height: 15rem;
  }

  margin: 0.25rem;
  background-color: black;
  border: 0.25rem solid white;
  transition: ease-in-out 0.25s;

  .play-btn-diffuser {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.25s;

    span {
      color: transparent;
      transition: ease-in-out 0.25s;
    }
  }

  &:hover {
    margin: 0;
    box-shadow: 10px 8px 5px black;
    background-color: #2a2a2a;

    .play-btn-diffuser {
      display: flex;
      justify-content: center;
      background-color: rgba($color: black, $alpha: 0.75);

      span {
        color: white;
        &:active {
          color: $primary;
        }
      }
    }
  }

  .item-content {
    padding: 0 0.75rem 0;
    @include fullhd {
      padding: 0.75rem;
    }

    .title {
      margin-bottom: 0.5rem;
      @include tablet {
        margin-bottom: 1rem;
      }
    }
  }
  .tags {
    margin-top: 0;
    .tag {
      border: 1px solid #666666;
    }
  }
}
