// Page now uses .full-height-page
// Single column space for resident
.resident-box .card-content {
  min-height: 4.5rem;
}
//=================================
// /templates/Resident.js
//=================================
.sticky-bio,
.resident-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sticky-bio {
  @include tablet {
    position: sticky;
    position: -webkit-sticky;
    top: 6.625rem;
    overflow-y: auto;
    max-height: calc(100vh - 9.75rem);
  }
}

.social-links {
  display: flex;
  justify-content: center;
}
