.residents-page {
  margin-top: 8.25rem;
  margin-bottom: 3rem;
  min-height: calc(100vh - 10.5rem);

  // background-image: url(../img/red-led-light-with-silhouette-of-a-man-3094799.jpg);
  background-image: url(https://source.unsplash.com/1920x1080/weekly?nebula);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .image-diffuser {
    background-color: rgba($color: black, $alpha: 0.25);
    height: 100%;
    padding-bottom: 3rem;
  }

  // Set all text to white
  p {
    color: white;
    &.title {
      text-shadow: 3px 3px 2px black;
      padding: 0.5rem 0 0.75rem;
    }
  }

  .is-half {
    background-color: darken($color: $primary, $amount: 20);
    border-bottom: 0.25rem solid $primary;
    transition: 0.25s ease-in-out;

    &:hover {
      background-color: darken($color: $primary, $amount: 30);
    }
    &.is-active {
      background-color: $primary;
      border-bottom: 0.25rem solid $primary;
    }
  }

  .resident-selection {
    padding: 2rem 1rem 0;
    background-color: rgba(
      $color: darken($color: $primary, $amount: 30),
      $alpha: 0.75
    );
  }

  .resident-box {
    @include mobile {
      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }

  .single-resident {
    border: 0.125rem solid transparent;
    transition: 0.125s ease-in-out;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .resident-image {
      img {
        border: 0.125rem solid white;
      }
    }
  }
}
