.schedule-page {
  @include tablet;
  margin-top: 8.25rem;
  height: calc(100vh - 10.5rem);

  background-color: #2a2a2a;
  background-image: url(https://source.unsplash.com/1920x1080/daily?dj);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  // Set all text to white
  p {
    color: white;

    // Give 'Schedule' a shadow
    &.title {
      text-shadow: 3px 3px 2px black;
      padding: 0.5rem 0 0.75rem;
    }
  }

  // Rules for the day selector
  .time-date {
    background-color: black;

    // Give every time and date a right border
    // EXCEPT the last
    &:not(:last-child) {
      border-right: 1px solid grey;
    }

    &:hover {
      background-color: #aaa;
      p {
        color: black;
      }
    }

    &:active {
      background-color: white;
      p {
        color: black;
      }
    }
  }

  // Give all time slot 'columns' divs
  // a translucent black bg and padding
  .time-slot {
    background-color: rgba($color: #000, $alpha: 0.75);
    padding: 0.25rem;

    // Give every time and date a right border
    // EXCEPT the last
    &:not(:last-child) {
      border-bottom: 1px dashed grey;
    }

    // When hovering over a schedule entry,
    // change the entry's colors for visibility
    &:hover {
      background-color: #aaa;
      p {
        color: black;
      }
    }

    .show-info {
      display: flex;
      flex-direction: column;

      .show-name {
        flex: 1;
      }
      .host-info {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;

        p {
          margin-right: 0.5rem;
          font-style: italic;
        }

        .icon {
          color: white;
        }
      }
    }
  }

  // MOBILE SCROLL INSTRUCTIONS
  #scroll-instructions {
    padding: 0;
    margin-bottom: 0;
    background-color: black;
  }

  // MOBILE DATE PICKER RULES
  #mobile-date-picker {
    overflow-x: scroll;
    background-color: black;
    p {
      color: white;
    }
  }
}
