.schedule-page-entries {
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 0.125rem solid white;
  border-radius: 0.75rem;
}

.date-selector {
  @include mobile {
    overflow-x: auto;
  }
}

.single-show-entry {
  border-top: 2px solid $grey;
  min-height: 6rem;
  transition: 0.75s $easing;
}

.today-date {
  padding-top: 0.75 * $gap;
  padding-bottom: 0.75 * $gap;
}
