$navbar-height: 3rem !default;
$top-nav-height: calc(2.5 * $navbar-height); // 7.5rem
$schedule-bar: 2.5rem !default;
$player-fixed-z: 30 !default;
$gap: 32px;

// TopNav.js
.radio-and-schedule-bar {
  display: flex;
  flex-direction: column;
  left: 0;
  height: $top-nav-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $player-fixed-z;

  .radio-bar {
    padding: 0 $gap;
    flex: 2;
    min-height: 5rem;
    margin-bottom: 0;
    background-color: rgba($color: #ccc, $alpha: 0.7);

    #play-button {
      margin-right: 0.75rem;
      background-color: lightslategrey;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }

    .radio-player {
      display: flex;
      flex-direction: row;
      width: auto;
      align-items: center;

      .cloud-player {
        // visibility: hidden;
        // display: none;
        max-height: 3.5rem;
      }

      #radioShowPic {
        min-width: 4.5rem;
        margin-right: 0.625rem;

        img {
          width: 4.25rem;
          height: 4.25rem;
          object-fit: cover;
          object-position: center;
        }
      }

      #radioShowDetails {
        display: flex;
        flex-direction: column;

        #radioShowTime {
          flex: 1;
          p {
            font-size: 0.75rem;
          }
        }
        #radioShowName {
          flex: 1;
        }
      }
    }
  }

  .schedule-bar {
    // Fix the columns nested in this container
    // to the top of the schedule-bar.
    // Fix the top padding of these nested columns.
    > .columns {
      margin-top: 0;
      .column {
        padding-top: 0.5rem;
      }
    }

    flex: 1;
    padding: 0 $gap;
    min-height: $schedule-bar;
    color: white;
    background-color: rgba($color: #888, $alpha: 0.7);

    // fix transitions later! currently jagged
    // transition: ease-in-out 0.5s;
    // -moz-transition: ease-in-out 0.5s;
    // -webkit-transition: ease-in-out 0.5s;

    // Styles when active === true
    &.is-open {
      min-height: 10rem;
      background-color: #666;
      .column {
        min-height: 10rem;
        padding-top: 0.5rem;
      }
    }

    #up-next {
      height: $schedule-bar;
      background-color: rgba($color: black, $alpha: 0.7);
    }
  }
}

// BottomNav.js
#bottom-color-test {
  background-color: rgba($color: black, $alpha: 0.25);
}
