$navbar-height: 3rem !default;
$top-nav-height: 7.5rem; // 7.5rem
$schedule-bar: 2.5rem !default;
$player-fixed-z: 30 !default;
$gap: 32px;

//==================================
// <TopNav />
//==================================
.radio-and-schedule-bar {
  display: flex;
  flex-direction: column;
  left: 0;
  height: $top-nav-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $player-fixed-z;
  background-color: black;

  //==================================
  // <RadioBar />
  //==================================
  .radio-bar {
    padding: 0 $gap;
    flex: 2;
    min-height: 5rem;
    margin-bottom: 0;
    background-color: rgba($color: #ccc, $alpha: 0.7);

    #play-button {
      margin-right: 0.75rem;
      background-color: lightslategrey;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }

    .radio-player {
      display: flex;
      flex-direction: row;
      width: auto;
      align-items: center;

      #radioShowPic {
        min-width: 4.5rem;
        margin-right: 0.625rem;

        img {
          width: 4.25rem;
          height: 4.25rem;
          object-fit: cover;
          object-position: center;
        }
      }

      #radioShowDetails {
        display: flex;
        flex-direction: column;

        #radioShowTime {
          flex: 1;
          p {
            font-size: 0.75rem;
          }
        }
        #radioShowName {
          flex: 1;
        }
      }
    }
  }
  //==================================
  // <ScheduleBar />
  //==================================
  .schedule-bar {
    flex: 1;
    padding: 0 $gap;
    background-color: black;
    color: white;
    height: $schedule-bar;
    transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;

    // Set the schedule drawer to 25 rem
    &.is-open {
      height: auto;
      background-color: transparent;
    }
    // Each columns div should touch top and bottom
    // Each column
    .columns {
      margin-top: 0;
      margin-bottom: 0;
      .column {
        padding: 0.5rem;
      }
    }

    .up-next {
      background-color: black;
    }

    #scroll-instructions {
      width: 100%;
      background-color: #2a2a2a;
      p {
        color: white;
        font-variant: small-caps;
        padding: 0rem;
      }
    }

    // Testing touch-size schedule modal
    .modal-card {
      max-height: calc(100vh - 5.5rem);
      margin: 1rem 0 4.5rem;
      max-width: 95vw;

      header {
        padding: 0;
        margin: 0;
      }

      .modal-card-head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #2a2a2a;

        .schedule-modal {
          width: 95%;
          padding: 0.25rem 0;
        }
      }

      .modal-card-body {
        padding: 0 1rem;
        background-color: black;
      }
    }

    //==================================
    // <ScheduleDatePicker />
    //==================================
    .date-picker {
      flex: 1;
      width: 100%;
      background-color: #2a2a2a;
      overflow-x: auto;
      p {
        color: white;
      }
      .day-of-week {
        padding: 0.5rem;
        border-top: 1px white solid;
        border-bottom: 1px white solid;

        // &:first-child {
        //   border-left: 1px white solid;
        // }

        // In-between borders
        &:not(:last-child) {
          border-right: 1px white solid;
        }

        &:hover {
          background-color: grey;
          p {
            color: white;
          }
        }
        &:active {
          background-color: lightgrey;
          p {
            color: black;
          }
        }
      }
    }
    //==================================
    // <ScheduleShowEntry />
    //==================================
    .mobile-overscroll {
      height: 20rem;
      overflow-y: auto;
      margin: 0;
      padding: 0;
    }

    .show-entry {
      flex: 1;
      padding: 0.5rem 0;
      background-color: black;
      border-bottom: 1px dashed #ccc;

      transition: 0.25s ease-in-out;
      p {
        color: white;
      }

      &:hover {
        background-color: grey;
        p {
          color: black;
        }
      }
    }
  }
}

//==================================
// <BottomNav />
//==================================
#bottom-color-test {
  background-color: rgba($color: grey, $alpha: 0.75);
}
