$navbar-height: 3rem !default;
$top-nav-height: calc(2.5 * $navbar-height); // 7.5rem
$player-fixed-z: 30 !default;
$gap: 32px;

.radio-and-schedule-bar {
  display: flex;
  flex-direction: column;
  left: 0;
  height: $top-nav-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $player-fixed-z;

  .radio-bar {
    padding: 0 $gap;
    flex: 2;
    min-height: 5rem;
    margin-bottom: 0;
    background-color: rgba($color: yellow, $alpha: 0.5);

    #play-button {
      margin-right: 0.75rem;
      background-color: blue;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }

    .radio-player {
      display: flex;
      flex-direction: row;
      width: auto;
      align-items: center;

      #radioShowPic {
        min-width: 4.5rem;
        margin-right: 0.625rem;

        img {
          width: 4.25rem;
          height: 4.25rem;
          object-fit: cover;
          object-position: center;
        }
      }

      #radioShowDetails {
        display: flex;
        flex-direction: column;

        #radioShowTime {
          flex: 1;
          p {
            font-size: 0.75rem;
          }
        }
        #radioShowName {
          flex: 1;
        }
      }
    }
  }

  .schedule-bar {
    // Fix the columns nested in this container
    // to the top of the schedule-bar.
    > .columns {
      margin-top: 0;
    }

    flex: 1;
    padding: 0 $gap;
    min-height: 2.5rem;
    background-color: saddlebrown;
    color: white;
    transition: ease-in-out 0.5s;

    // Styles when active === true
    &.is-open {
      min-height: 7.5rem;
      background-color: saddlebrown;
    }

    // #expand-schedule {
    //   margin: 0;
    // }
  }
}

#bottom-color-test {
  height: 2.5rem;
  background-color: rgba($color: white, $alpha: 0.5);
}
