$navbar-height: 3.25rem !default;
$schedule-bar: 4.6875rem !default;

.head-color {
  background-color: #ccc;
}

.hero-color {
  background-color: #e8e8e8;
}

.foot-color {
  background-color: purple;
}

#chat-bg {
  min-height: 50vh;
  background-color: #ddd;
}

.remove-padding {
  margin: 0 auto;
  padding: 0 auto;
}

.alt-column {
  background-color: #ddd;
}

.cs-bg-color {
  background-color: #999;
}

#ef-bg {
  background-color: #444;
}

$player-fixed-z: 30 !default;
$player-height: $navbar-height;
$gap: 32px;

.fixed-radio-player {
  background-color: rgba(255, 255, 255, 0.75);
  left: 0;
  height: $player-height;
  padding: 0 $gap;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $player-fixed-z;
}

#top-bar {
  background-color: rgba($color: #f00660, $alpha: 0.5);
  margin-top: 0.75rem;
  margin-bottom: -0.15rem;
}

.hero {
  background-image: url(https://source.unsplash.com/random);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100vw;
  height: auto;
}

.radio-player {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 3.25rem;
  background-color: pink;
  align-content: center;

  #radioShowPic {
    flex: 1;
    background-color: greenyellow;
    min-width: 3.25rem;
    margin-right: 0.625rem;

    img {
      width: 3.25rem;
      height: 3.25rem;
      object-fit: cover;
      object-position: center;
    }
  }
  #radioShowDetails {
    flex: 7;
    display: flex;
    flex-direction: column;

    #radioShowTime {
      flex: 1;

      p {
        font-size: 0.75rem;
      }
    }
    #radioShowName {
      flex: 3;
    }
  }
}
