//==================================
// <Hero />
//==================================
.homepage-hero {
  // There's a .75rem margin-top to account for somewhere. Has to do with setting up a flexbox.

  @include tablet;
  margin-top: 8.25rem;
  height: calc(100vh - 10.5rem);
  // max-height: calc(2048px - 10.5rem);

  background-image: url(https://source.unsplash.com/1920x1080/daily?music);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: greenyellow;
  .columns .column {
    background-color: rgba($color: cyan, $alpha: 0.5);
  }
}

//==================================
// <HomeContent />
//==================================
.home-content {
  @include tablet;
  margin-bottom: 3rem;

  // Make all content text white
  p {
    color: white;
  }

  // Make each content sections' titles and taglines sticky
  .sticky-section-blurb {
    position: -webkit-sticky;
    position: sticky;

    // For clarity, please leave as following:
    // top = calc(TopNav height + section container padding)
    top: calc(8.25rem + 1rem);
    margin-bottom: 1rem;

    p {
      text-shadow: 2px 2px 2px black;
    }

    button {
      top: 0.5rem;
    }
  }

  // Override default bulma card settings
  .card-content {
    background-color: black;
    padding: 0.75rem;
  }

  // Give the date of content items some space
  .content-date {
    margin-bottom: 0.5rem;
  }

  // Give all mobile titles & subtitles a shadow
  p.mobile-headers {
    text-shadow: 3px 3px 2px black;
  }

  // Make mobile entries horizontally scrollable
  .mobile-single-items {
    overflow-x: auto;
  }

  // Pull "More XXX >" buttons to right of columns
  .more-link {
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }

  //==================================
  // <HomeMixes />
  //==================================
  .home-mixes {
    padding: 3rem 2rem;

    background-image: url(https://source.unsplash.com/1920x1080/daily?dj);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    .tag {
      transition: 0.25s ease-in-out;
      &:hover {
        box-shadow: 2px 2px 4px grey;
      }
    }
  }

  //==================================
  // <HomeEvents />
  //==================================
  .home-events {
    padding: 2rem 2rem;

    background-image: url(https://source.unsplash.com/1920x1080/daily?carnival-night);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  //==================================
  // <HomeNews />
  //==================================
  .home-news {
    padding: 3rem 2rem;

    background-image: url(https://source.unsplash.com/1920x1080/daily?night-city);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}
