// #top-bar {
//   background-color: rgba($color: #f00660, $alpha: 0.5);
//   margin-top: 0.75rem;
//   margin-bottom: -0.15rem;
// }

.show-date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.25rem;
  background: lightgray;

  .show-weekday {
    flex: 1;
    transform: rotate(-90deg);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .show-day {
    flex: 7;
    font-size: 2.5rem;
  }

  &-active {
    margin-right: -0.75rem;
    background-color: seashell;
  }
}

.hero {
  margin-top: 7.5rem;
  background-image: url(https://source.unsplash.com/1920x1080/daily?music);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-width: 100vw;
}

.show-details {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 0.5rem;
  margin-bottom: 0.375rem;

  .show-time-slot {
    flex: 1;
  }

  .show-info {
    flex: 3;
    display: flex;
    flex-direction: row;

    .show-pic {
      flex: 1;

      #show-pic-sample {
        width: 5rem;
        height: 5rem;
        background-color: whitesmoke;
        border-radius: 10%;
      }
    }

    .show-text {
      flex: 5;
      display: flex;
      flex-direction: column;
    }
  }
}
