.schedule-page {
  @include tablet;
  margin-top: 8.25rem;
  height: calc(100vh - 10.5rem);

  background-color: #2a2a2a;
  background-image: url(https://source.unsplash.com/1920x1080/daily?dj);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  // Set all text to white
  p {
    color: white;
  }

  // Rules for the day selector
  .time-date {
    background-color: black;
    &:hover {
      background-color: #aaa;
      p {
        color: black;
      }
    }

    &:active {
      background-color: white;
      p {
        color: black;
      }
    }
  }

  // MOBILE SCROLL INSTRUCTIONS
  #scroll-instructions {
    padding: 0;
    margin-bottom: 0;
    background-color: black;
  }

  // MOBILE DATE PICKER RULES
  #mobile-date-picker {
    overflow-x: scroll;
    background-color: black;
    p {
      color: white;
    }
  }

  // Give all schedule entry 'columns' divs
  // a translucent black bg and  padding
  .columns:not(:first-child) {
    background-color: rgba($color: #000, $alpha: 0.75);
    padding: 0.5rem;

    // When hovering over a schedule entry,
    // change the entry's colors for visibility
    &:hover {
      background-color: #aaa;
      p {
        color: black;
      }
    }
  }
}
