.schedule-page {
  margin-top: 7.5rem;
  height: calc(100vh - 10.5rem);
  background-color: darkturquoise;

  p {
    color: white;
  }
  .schedule-hero {
    background-image: url(https://source.unsplash.com/1920x1080/daily?dj);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .time-date {
    background-color: black;

    &:hover {
      background-color: lightgrey;
      p {
        color: black;
      }
    }

    &:active {
      background-color: white;
      p {
        color: black;
      }
    }
  }
}
