.head-color {
  background-color: #ccc;
}

.hero-color {
  background-color: #e8e8e8;
}

.foot-color {
  background-color: pink;
}

#chat-bg {
  min-height: 50vh;
  background-color: #ddd;
}

.alt-column {
  background-color: #ddd;
}

.cs-bg-color {
  background-color: #999;
}

#ef-bg {
  background-color: #444;
}
